CI_ENVIRONMENT = production

# Database
database.default.hostname = db
database.default.database = codeigniter_db
database.default.username = root
database.default.password = cod31gn1t3
database.default.DBDriver = MySQLi
database.default.port = 3306
logger.threshold = 4
CI_DEBUG = false
app.baseURL = 'http://localhost/'